fastapi
uvicorn
python-multipart
requests
beautifulsoup4
transformers
torch
huggingface_hub
gguf
torchvision
diffusers
pillow
python-dotenv
pydantic
accelerate
sentencepiece
protobuf
bs4
kernels
nvidia-ml-py3
supabase
boto3
peft
json-repair
websocket-client
imageio-ffmpeg