fastapi
uvicorn
python-multipart
requests
transformers
torch
huggingface_hub
gguf
torchvision
diffusers
pillow
python-dotenv
pydantic
accelerate
sentencepiece
protobuf
kernels
nvidia-ml-py3
supabase
boto3
peft
json-repair